

<!--<option *ngIf="selected"=='pizza'></option>   -->
<br>
<div class="container mt-5">
    <select class="form-select" [(ngModel)]="firs">
        <option *ngFor="let g of firstMenu">{{g}}</option>
    </select>
</div>
<br>

<div *ngIf="firs==='בטיחות_המטופל'" class="contain">
    <select class="form-select" [(ngModel)]="secon">
        <option *ngFor="let ff of sefetPatient">{{ff}}</option>
    </select>
</div>


<div *ngIf="firs==='רצף_טיפול'" class="contain">
    <select class="form-select" [(ngModel)]="secon">
        <option *ngFor="let s of TherapeuticSequence">{{s}}</option>
    </select>
</div>
<br>

<div *ngIf="secon==='יעדים_בינלאומיים_לבטיחות_המטופל'" class="fil">
    <object type="application/pdf"
        data="assets/pdfFiles/1_1.pdf"
        width="750"
        height="600">
    </object>
</div>
<div *ngIf="secon==='זיהוי_מטופל'" class="fil">
    <object type="application/pdf"
        data="assets/pdfFiles/1_2.pdf"
        width="750"
        height="600">
    </object>
</div>
<div *ngIf="secon==='מטופלים_עם_שם_דומה/זהה'" class="fil">
    <object type="application/pdf"
        data="assets/pdfFiles/1_3.pdf"
        width="750"
        height="600">
    </object>
</div>

<div *ngIf="secon==='תוכן_נדרש_וזמנים'" class="fil">
    <object type="application/pdf"
        data="assets/pdfFiles/2_1.pdf"
        width="750"
        height="600">
    </object>
</div>
<div *ngIf="secon==='ציוד הנשמה'" class="fil">
    <object type="application/pdf"
        data="assets/pdfFiles/2_2.pdf"
        width="750"
        height="600">
    </object>
</div>

<br>
<!--
<span [*ngSwitch]="firs">
    <span *ngSwitchCase="בטיחות_המטופל">sefetPatient</span>
    <span *ngSwitchCase="רצף_טיפול">TherapeuticSequence</span>
</span>
-->

<!--
<div class="container mt-5">
    <select class="form-select" [(ngModel)]="selected">
        <option *ngFor="let n of food">{{n}}</option>
    </select>
    <br> 
    {{selected}}
</div>
-->

<!--דוגמה מיוטיוב בלי אנגיפור
<div class="container mt-5">
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</div>
-->

<!--דוגמה מהחוברת-->
<!--
<p>tempur works!</p>
<div [hidden]="submitted">
    <h1>Login Form</h1>
<form (ngsubmit)="onsubmit()" #loginForm="ngForm">
    <label for="name">Name</label>
    <input required
    [(ngModel)]="model.name" name="name"
    #name="ngModel">
    <div [hidden]="name.valid || name.pristine" >
        Name is required
    </div>
<br/>
<label for=" platform ">platform</label>
<select required
        [(ngModel)]="model.platform" name="platform"
        #platform="ngModel">
        <option *ngFor="let x of ['facebook','gmail','github']" [value]="x">
            {{x}}
        </option>
</select>
<div [hidden]="platform.valid || platform.pristine" >
    platform is required
</div>
</form>
</div>

-->