<h1>home page</h1>
<!--
<br>
<angular-file-uploader
    [config]="afuConfig">

</angular-file-uploader>
-->
<!--
<p>
    <label>One way to view</label>
    <input type="text" #input2 (keyup)="onkeyup(input2.value)">
</p>
<p>welcome to our {{name}} ,  {{title}}</p>

<p>
    <input #phone placeholder="Phone Number">
    <button (click)="callphone(Phone.value)">Call</button>
</p>
<p>
    <label>name from today</label>
    <input type="text" #input3 (onkSecond)="onkSecond(input3.value)">
    welcome to our {{NA}}
</p>
-->